/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #070e27;
    color: #fefefe;
    padding: 20px 0;
    text-align: center;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
}

header svg {
    width: 40px;
    height: 40px;
    fill: #fefefe;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Main content sections */
section {
    padding: 40px 20px;
    margin: 20px 0;
}

/* Container class to limit content width */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3244d7;
}

section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #6072ba;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #070e27;
}

#intro p {
    font-size: 1rem;
    color: #070e27;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
    color: #070e27;
}

ul li strong {
    color: #6072ba;
}

/* dottedIcon, elenco di elementi di tipo immagine-testo*/
#dottedIcon ul {
    list-style-type: none;
    padding-left: 20px;
}

#dottedIcon li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#dottedIcon li  svg{
    font-size: 2rem; /* Imposta la dimensione del testo in relazione al sistema di coordinate dell'svg(attualmente non abbiamo testi nei nostri svg) */
    margin-right: 20px;
}

#dottedIcon li .event {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

#dottedIcon  li .event .title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0071bb;
    display: block;
    margin-bottom: 10px;
}

#dottedIcon  li .event p {
    font-size: 1rem;
    color: #070e27;
}

/* contiene l'immagine centrata */
.imgDivCenter
{
    display: flex; /*allinea i figli in orizzontale*/
    justify-content: center;/*allinea i figli al centro su asse orizzontale*/
    align-items: center;/*allinea i figli al centro su asse verticale*/
}

/* contiene l'immagine */
.imgDiv
{
    display: flex; /*allinea i figli in orizzontale*/
    align-items: center;/*allinea i figli al centro su asse verticale*/
}

img {
    width: 50%; /*adatta alla larghezza del suo contenitore (di solito un div)*/
}

.tinyImg35{
    width: 35%; /*adatta alla larghezza del suo contenitore (di solito un div)*/
}

.tinyImg{
    width: 25%; /*adatta alla larghezza del suo contenitore (di solito un div)*/
}

/* svg generico */
svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    fill: #0071bb;
}

.download-btn {
    position: fixed;
    bottom: 43px; /* Distanza dal bordo superiore */
    right: 20px; /* Distanza dal bordo destro */
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease; /* Transizione per l'effetto di dissolvenza */
}

.download-btn:hover {
    opacity: 0.7; /* Effetto di trasparenza durante l'hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.download {
    fill: none;
}

.download  path {
    stroke: #0071bb;
}

/* Footer */
footer {
    background-color: #070e27;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}